<div class="uk-container">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-padding" uk-grid>
        <div>
            <div class="uk-border-rounded uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">{{totalUser}}</h3>
                <p>Total Customers / Active Customer</p>
            </div>
        </div>
        <div>
            <div class="uk-border-rounded uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">{{deletedUser}}</h3>
                <p>In Active Customer / Deleted Customer</p>
            </div>
        </div>
    </div>
</div>
